*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9296F0;
    margin-top:0px;
    margin-left:0px;
}

.todo-input-div {
  position: absolute;
  top: 20%;
  width: 80%;
  left: 15%;

}

input{
    box-shadow: 5px 10px #5B63B7;
    height: 48.5px;
    width: 80%;
    font-size: 1em;
    align-items: center;
    border: none;
    padding: 5px;
    outline: none;
    margin-right: 20px;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

button {
    box-shadow: 5px 10px #5B63B7;
    padding: 10px;
    background-color: #CBCCFF;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
i{
    color: #000000;

}

button:hover{
    box-shadow: none; 
    background-color: #9296F0;
}

.todo-list{
    display: block;
    padding: 0;

}
.todo-item{
    margin: 2rem;
    height: 200px;
    border-radius: 5px;
    background: #CBCCFF;
    color: black;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
}
h1{
    position: absolute;
    bottom: 250px;
    left: 15%;
    color: #CBCCFF;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
}